# Aliases ->
#alias ls='ls --color=auto'
#alias cls='clear'
#alias nano='nano -$'
#alias py='python3'
#alias ftp-on='sv up ftpd && echo "FTP on port 8021"'
#alias ftp-off='sv down ftpd'
#alias ssh-on='sshd'
#alias ssh-off='pkill sshd'
